---
layout: "base.njk"
---
  
  <nav class="dropdown hidden">
      <img src="/img/Menu.svg" alt="Menu Icon" class="menu-icon" />
      <ul class="dropdown__list">
        <li class="dropdown__books">
          <a href="books.html">
            Books <img src="/img/Books Icon.svg" alt="Book icon"
          /></a>
        </li>
        <li class="dropdown__about">
          <a href="about.html">
            About <img src="/img/About Icon.svg" alt="About icon"
          /></a>
        </li>
        <li class="dropdown__blog active">
          <a href="blog.html">
            Blog <img src="/img/Blog Icon.svg" alt="Blog icon"
          /></a>
        </li>
        <li class="dropdown__contact">
          <a href="contact.html">
            Contact <img src="/img/Contact Icon.svg" alt="Contact icon"
          /></a>
        </li>
      </ul>
    </nav>

    <nav class="desktop-nav">
      <img src="/img/All about it logo 1.svg" alt="All about it logo" />
      <ul class="desktop-nav__list">
        <li class="desktop-nav__books"><a href="/index.html">Books</a></li>
        <li class="desktop-nav__about"><a href="/about/index.html">About</a></li>
        <li class="desktop-nav__blog active"><a href="/blog/index.html">Blog</a></li>
        <li class="desktop-nav__contact"><a href="/contact/index.html">Contact</a></li>
      </ul>
    </nav>

    <div class="blog-post-container">
      <div class="arrow-header">
        <a href="/blog/index.html"
          ><img src="/img/White Arrow Icon.svg" alt="Back arrow"
        /></a>
        <h1>{{ title }}</h1>
        <div class="empty"></div>
      </div>
      <div class="blog-post-content">
        <img src="{{ image }}" alt="{{ imageAlt }}" />
        <p>

        {{ content | safe }}

        </p>
      </div>
      <div class="post-1-date">
        <img
          src="/img/Blog Clock icon.svg"
          alt="Clock icon"
          class="clock-icon"
        />
        <h3>{{ date | postDate }}</h3>

        
      </div>
    </div>
    <div class="overlay hidden"></div>
    <script src="../script.js"></script>
    

