 <nav class="mobile-nav">
      <img src="/img/Menu.svg" alt="Menu Icon" class="main-menu-icon" />
      <img
        src="/img/All about it logo 1.svg"
        alt="All about it logo"
        class="mobile-logo"
      />
      <div></div>
    </nav>